Computer player code:

<p>
  <%= form_for(@move) do |f| %>
    <%= f.hidden_field :game_id, value: params[:id] %>
    <%= f.hidden_field :move_coordinate, value: @computer_move %>
    <%= f.submit "computer move" %>
  <% end %>
</p>

---------

<%= form_tag(new_move_path, :method => "post") do %>
    <%= form_for(@move) do |f| %>
      <%= f.hidden_field game_id: 1, move_coordinate: 5 %>
      <%= f.submit "pic" %>
    <% end %>
    <% end %>
    

<% @board.each_with_index do |cell, index| %>

  <% if cell.is_a? Fixnum %>
    <%= cell %>
  <% else %> 

    <%= form_for(@move) do |f| %>
      <%= f.hidden_field game_id: 1, move_coordinate: 5 %>
      <%= f.submit "pic" %>
    <% end %>

  <% end %>

<% end %> 

<div>
  <% @board.each_with_index do |cell, index| %>
  <div>
  <% if cell == 0 %>
    <%= form_for(@move) do |f| %>
      <%= f.hidden_field game_id: 1, move_coordinate: 5 %>
      <%= f.submit "pic" %>
  <% end %>
  <% elsif cell == -1 %>
    <%= "X" %>
  <% else %>
    <%= "O" %>
  <% end %>
  </div>
  <% end %> 
</div>

this work:

<div>
  <% @board.each_with_index do |cell, index| %>
  <div>
  <% if cell == 0 %>
    <%= link_to "Move: #{index}", new_move_path(game_id: params[:id], move_coordinate: index) %>
  <% elsif cell == -1 %>
    <%= "X" %>
  <% else %>
    <%= "O" %>
  <% end %>
  </div>
  <% end %> 
</div>