.status-message
  - case @status
  - when "draw"
    GAME IS A DRAW
  - when "X"
    X WINS!
  - when "O"
    O WINS!
  - when false
    - nil

  - if @computer_turn && @status==false
    .computer-button
      = form_for(@move) do |f|
        = f.hidden_field :game_id, value: params[:id]
        = f.hidden_field :move_coordinate, value: @computer_move
        = f.submit "computer move"
  - else
    - nil
    
.ttt-board
  - @board.each_with_index do |cell, index|
    - if cell == 0
      = form_for(@move) do |f|
        = f.hidden_field :game_id, value: params[:id]
        = f.hidden_field :move_coordinate, value: index
        = f.submit " ", class: "ttt-cell"
    - elsif cell == -1
      .ttt-cell X
    - else
      .ttt-cell O

/ <div class="status-message">
/   <% case @status %>
/   <% when "draw" %>
/     GAME IS A DRAW
/   <% when "X" %>
/     X WINS!
/   <% when "O" %>
/     O WINS!
/   <% when false %>
/     <% nil %>
/   <% end %>


/ <% if @computer_turn && @status==false %>
/   <div class="computer-button">
/     <%= form_for(@move) do |f| %>
/       <%= f.hidden_field :game_id, value: params[:id] %>
/       <%= f.hidden_field :move_coordinate, value: @computer_move %>
/       <%= f.submit "computer move" %>
/     <% end %>
/   </div>
/ <% else %>
/   <% nil %>
/ <% end %>
/ </div>


/ <div class="ttt-board">
/   <% @board.each_with_index do |cell, index| %>
/   <% if cell == 0 %>
/     <%= form_for(@move) do |f| %>
/       <%= f.hidden_field :game_id, value: params[:id] %>
/       <%= f.hidden_field :move_coordinate, value: index %>
/       <%= f.submit " ", class: "ttt-cell" %>
/     <% end %>
/   <% elsif cell == -1 %>
/     <div class="ttt-cell">X</div>
/   <% else %>
/     <div class="ttt-cell">O</div>
/   <% end %>

/   <% end %> 
/ </div>