<h1>Games#show</h1>
<p>Find me in app/views/games/show.html.erb</p>
<p>
  <%= form_for(@move) do |f| %>
    <%= f.hidden_field :game_id, value: params[:id] %>
    <%= f.hidden_field :move_coordinate, value: @computer_move %>
    <%= f.submit "computer move" %>
  <% end %>
</p>

<div>
  <% @board.each_with_index do |cell, index| %>
  <div>
  <% if cell == 0 %>
    <%= form_for(@move) do |f| %>
      <%= f.hidden_field :game_id, value: params[:id] %>
      <%= f.hidden_field :move_coordinate, value: index %>
      <%= f.submit "make move" %>
    <% end %>
  <% elsif cell == -1 %>
    <%= "X" %>
  <% else %>
    <%= "O" %>
  <% end %>
  </div>
  <% end %> 
</div>




















