

  <nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><%= link_to "TicTacToe", games_path %></h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
    
    <% if user_signed_in? %>
      <li class="right"><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
      <li class="right"><%= link_to('Edit registration', edit_user_registration_path) %></li>
    <% else %>
      <li class="right" id="italic"><%= link_to('Register', new_user_registration_path) %></li>
      <li class="right"id="italic"><%= link_to('Login', new_user_session_path) %></li>
    <% end %>
    </ul>

    <!-- Left Nav Section -->
    <ul class="left">
      <li><%= link_to "New Game", new_game_path %></li>
      <li><%= link_to "Scoreboard", user_games_path %></li>
    </ul>
  </section>
</nav>